#mobilebody {
    padding: 10px;
    width: auto;
}

.grouptable {
    border-radius:10px;
    padding: 10px;
    width: 49%;
    margin-bottom: 5px;
    border:solid 1px #777777;
}

#tables {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 98%;
}

#addtable {
    width: 98%;
    padding: 1%;
    background-color:#eee;
    margin:10px 0;
}